# Emacs Temp Files
.#*
\#*
*~
__pycache__
# Emacs ignore
.config/emacs/auto-save-list
.config/emacs/.cache
.config/emacs/.dap-breakpoints
.config/emacs/emms
.config/emacs/elpaca
.config/emacs/tramp
.config/emacs/.lsp-session-v1
.config/emacs/projectile-bookmarks.eld
.config/emacs/projects
.config/emacs/recentf
.config/emacs/transient
.config/emacs/url
.config/emacs/config.el
