[Desktop Entry]
Name=rofi
GenericName=rofi
Comment=rofi
Exec=rofi -show drun -theme Arc-Dark
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=archlinux

